@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

$breakpoint-phone: 900px;

$border-radius: 10px;

$font-family-section: "Lexend Deca", sans-serif;
$font-family-header: "Big Shoulders Display", cursive;

$font-color: #f3f2f1;
$color-card1: #e18527;
$color-card2: #016972;
$color-card3: #065758;

%button-shared {
  font-family: $font-family-section;
  border-style: none;
  border: 2px solid;
  border-radius: 25px;
  border-color: $font-color;
  width: 10rem;
  padding: 1rem;
  background-color: $font-color;
  &:hover {
    color: $font-color;
  }
}

%card-shared {
  padding: 5rem;

  h2 {
    padding-top: 2rem;
    font-family: $font-family-header;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .card-container-description {
    font-family: $font-family-section;
    padding: 2rem 0 0 0;
    line-height: 2;
  }
}

body {
  margin: 0;
  padding: 0;

  color: $font-color;

  .card-container {
    margin: 10rem auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: $breakpoint-phone) {
      grid-template-columns: repeat(1, 1fr);
      width: 90%;
    }

    .card-container-card1 {
      @extend %card-shared;
      background-color: $color-card1;
      border-radius: $border-radius 0 0 $border-radius;
      @media screen and (max-width: $breakpoint-phone) {
        border-radius: $border-radius $border-radius 0 0;
      }
      button {
        @extend %button-shared;
        color: $color-card1;
        &:hover {
          background-color: $color-card1;
        }
      }
    }
    .card-container-card2 {
      @extend %card-shared;
      background-color: $color-card2;
      button {
        @extend %button-shared;
        color: $color-card2;
        &:hover {
          background-color: $color-card2;
        }
      }
    }
    .card-container-card3 {
      @extend %card-shared;
      background-color: $color-card3;
      color: $font-color;
      border-radius: 0 $border-radius $border-radius 0;
      @media screen and (max-width: $breakpoint-phone) {
        border-radius: 0 0 $border-radius $border-radius;
      }
      button {
        @extend %button-shared;
        color: $color-card2;
        &:hover {
          background-color: $color-card2;
        }
      }
    }

    .card-container-bottom-section {
      padding-top: 2rem;
    }
  }
}
